<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>
    {{#each actorData}}
    <h1>{{name}}</h1>
    <h2>{{title}}</h2>
    {{/each}}
    <form action="/actors/new" method="post">
    <label for="name">Actor Name</label>
    <input type="text" name="name" value="">
    <label for="title">Movie Title</label>
    <input type="text" name="title" value="">
    <input type="hidden" name="role" value="actor">
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
