<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>
    {{#each actorData}}
    <h1>{{name}}</h1>
    <h2>{{title}}</h2>
    {{/each}}
  </body>
</html>
