<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
  {{#each directorData}}
  <h2>{{title}}</h2>
  <h3>{{name}}</h3>
  {{/each}}

  {{#each actorData}}
  <h2>{{name}}</h2>
  <h3>{{title}}</h3>
  {{/each}}
  </body>
</html>
